<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/login.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="lable">
            Log In
        </div>
        <div class="main">
            <form method="post">
                <div class='username'>
                    <div class="u_lable">
                        Username
                    </div>
                    <input name="username" type="text">
                </div>
                <div class='password'>
                    <div class="p_lable">
                        Password
                    </div>
                    <input name="password" type="password">
                </div>
                <div class="button">
                    <input type="submit">
                    
                </div>
            </form>
        </div>
        {{msg}}
        
    </div>
</body>
</html>