<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/note.css') }}">
    <title>Document</title>
</head>

<body>
    <center>
        <div class="name">
            {% if not msg %}
                {{name}}
            {% endif %}
        </div>
    </center>
    <div class="note">
        <div style="white-space: pre-line" class="data">
            {% if not msg%}
                {% if type == 'txt'%}
                    {{data}}
                {% elif type == 'img'%}
                    <img src="{{url_for('static', filename='notes/' + data)}}" alt="loh">
                {% elif type == 'file'%}
                    this is an unreadable file, but you can download it <a href="/download/{{data}}">here</a>
                {% endif %}
            {% else %}
                {{msg}}
            {% endif%}
        </div>
    </div>
</body>

</html>